*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/storage/*
_node_modules
__node_modules
npm-debug*
db.json
!server/storage/video-container/.keep
.browse*
